.git
.github
.idea
backend/dist
backend/node_modules
backend/.env.example
frontend/.vite
frontend/dist
frontend/gcp
frontend/node_modules
frontend/.env.example
.dockerignore
.gitignore
.prettierignore
.prettierrc
eslint.config.js
LICENSE
