# Nestjs specific
/dist
/node_modules
/build
/tmp

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*


# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

frontend/dist
frontend/gcp/dist
backend/dist
frontend/.env
backend/.env
frontend/node_modules
backend/node_modules
frontend/.vite

gcp/backend/app-dot-env.yaml
gcp/backend/dist
gcp/backend/package.json
gcp/backend/package-lock.json
gcp/frontend/dist
gcp/frontend/package.json
gcp/frontend/package-lock.json
