API_BASE_URL=your_api_base_url_here
AUTH_API_BASE_URL=your_auth_api_base_url_here
CORS_ORIGINS=http://localhost:8080,https://something.anything.com
CORS_HEADERS=Content-Type,Authorization
CORS_METHODS=GET,POST,PUT,PATCH,DELETE
